version: '3.8'

services:
  tensorflow:
    build: docker_services/dev/
    container_name: dev
    ports:
      - "8000:8000"
    volumes:
      - .:/workspace
    stdin_open: true  # Keep STDIN open for interactive sessions
    tty: true         # Allocate a pseudo-TTY for the container
